<div class="grid">
  <div class="col-12 md:col-6">
    <p-card header="Grafica en torta" subheader="comidas">
      <div class="card">
        <shared-chart typeChart="pie" [data]="data"></shared-chart>
      </div>
    </p-card>
  </div>
  <div class="col-12 md:col-6">
    <p-card header="Grafica de lineas" subheader="comidas">
      <div class="card">
        <shared-chart typeChart="line" [data]="data"></shared-chart>
      </div>
    </p-card>
  </div>
</div>

<div class="grid">
  <div class="col-12 md:col-8">
    <div class="p-card p-3">
      <foods-table-food [foods]="foods" (indexFood)="deleteFood($event)"></foods-table-food>
    </div>
  </div>
  <div class="col-12 md:col-4">
    <div class="p-card p-3">
      <foods-form-food [foods]="foods" (foodEmitter)="registerFood($event)"></foods-form-food>
    </div>
  </div>
</div>

