<h3 class="text-secondary alert alert-primary">Agregar comida</h3>
<form (ngSubmit)="onRegisterFood()">
    <div class="mb-3">
        <input type="text" name="name" class="form-control" placeholder="Nombre de la comida" [(ngModel)]="food.name">
    </div>
    <div class="mb-3">
        <input type="text" name="country" class="form-control" placeholder="Pais de la comida"
            [(ngModel)]="food.country">
    </div>
    <div class="mb-3">
        <input type="text" name="city" class="form-control" placeholder="Ciudad de la comida" [(ngModel)]="food.city">
    </div>
    <div class="">
        <button type="submit" class="btn btn-primary w-100">Registrar</button>
    </div>
</form>
<hr>
<ul>
    <li *ngFor="let food of foods"> {{ food.name }} - {{ food.city | uppercase }}</li>
</ul>